

<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>USER &nbsp;&nbsp;</th>
            <th>WEEKLY GOALS&nbsp;&nbsp;</th>
            <th>DAILY GOALS&nbsp;&nbsp;&nbsp;</th>
            <th>VERIFY GOALS&nbsp;&nbsp;&nbsp;</th>
            <th>DONE GOALS&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>


            <td class="text-center">{{forloop.counter}}</td>
            <td>{{ user }}&nbsp;&nbsp;</td>
            <td>{{goal_name}}-{{goal_id}}&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;-&nbsp;</td>
            <td>&nbsp;&nbsp;-&nbsp;</td>
            <td>&nbsp;&nbsp;-&nbsp;</td>
        </tr>
    </tbody>
</table>
